* {
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: sans-serif;
    color: blue;
    margin-left: 40%;
    justify-content: center;
}

#botao {
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;
    background-color;
}
#textobotao {
    color: blue;
}

#rodape {
    text-align: right;
}

#ordem {
    text-align:center;
    margin-bottom: 1em;
    margin-top: 1em;
}

#dadospessoais {
    margin-bottom: 0;
}

#dadosdelocalização {
    margin-top: 0;
}

.linhas {
    display: flex;
    text-align: center;
}

body {
    font-family: sans-serif;
    color: cornflowerblue;
    background-color: whitesmoke;
    font-size: 1em;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 3%;
    justify-content: center;
}

input, select, textarea, button {
    border-radius: 2px;
}

.campo {
margin-left: 5ex;
margin-bottom: 1em;
}

.subtitulo {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.nome, .sobrenome {
    text-align: justify;
}













